<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistroCliente</servlet-name>
        <servlet-class>SolicitudesWeb.RegistroCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarWeb</servlet-name>
        <servlet-class>SolicitudesWeb.IniciarWeb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroCuenta</servlet-name>
        <servlet-class>SolicitudesWeb.RegistroCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>SolicitudesWeb.RealizarDepositoColones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositarColones</servlet-name>
        <servlet-class>SolicitudesWeb.DepositarColones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositarDolares</servlet-name>
        <servlet-class>SolicitudesWeb.DepositarDolares</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarCompraDolar</servlet-name>
        <servlet-class>SolicitudesWeb.ConsultarCompraDolar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarVentaDolar</servlet-name>
        <servlet-class>SolicitudesWeb.ConsultarVentaDolar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarSaldoColones</servlet-name>
        <servlet-class>SolicitudesWeb.ConsultarSaldoColones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarPin</servlet-name>
        <servlet-class>SolicitudesWeb.CambiarPin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarCliente</servlet-name>
        <servlet-class>SolicitudesWeb.buscarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarCuenta</servlet-name>
        <servlet-class>SolicitudesWeb.buscarCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarClientesAscendentes</servlet-name>
        <servlet-class>SolicitudesWeb.listarClientesAscendentes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarCuentasDescendentes</servlet-name>
        <servlet-class>SolicitudesWeb.listarCuentasDescendentes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarEstatusCuenta</servlet-name>
        <servlet-class>SolicitudesWeb.ConsultarEstatusCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarSaldoDolares</servlet-name>
        <servlet-class>SolicitudesWeb.ConsultarSaldoDolares</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarGananciasTotalesBanco</servlet-name>
        <servlet-class>SolicitudesWeb.ConsultarGananciasTotalesBanco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarEstadoCuenta</servlet-name>
        <servlet-class>SolicitudesWeb.ConsultarEstadoCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarEstadoCuentaDolares</servlet-name>
        <servlet-class>SolicitudesWeb.ConsultarEstadoCuentaDolares</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarGananciasBancoCuenta</servlet-name>
        <servlet-class>SolicitudesWeb.ConsultarGananciasBancoCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarPalabra</servlet-name>
        <servlet-class>SolicitudesWeb.EnviarPalabra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetirarColones</servlet-name>
        <servlet-class>SolicitudesWeb.RetirarColones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetirarDolares</servlet-name>
        <servlet-class>SolicitudesWeb.RetirarDolares</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferirColones</servlet-name>
        <servlet-class>SolicitudesWeb.TransferirColones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarPalabraColones</servlet-name>
        <servlet-class>SolicitudesWeb.EnviarPalabraColones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarPalabraDolares</servlet-name>
        <servlet-class>SolicitudesWeb.EnviarPalabraDolares</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarPalabraTransferencia</servlet-name>
        <servlet-class>SolicitudesWeb.EnviarPalabraTransferencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesionAdmin</servlet-name>
        <servlet-class>SolicitudesWeb.InicioSesionAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroCliente</servlet-name>
        <url-pattern>/RegistroCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarWeb</servlet-name>
        <url-pattern>/IniciarWeb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroCuenta</servlet-name>
        <url-pattern>/RegistroCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositarColones</servlet-name>
        <url-pattern>/DepositarColones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositarDolares</servlet-name>
        <url-pattern>/DepositarDolares</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarCompraDolar</servlet-name>
        <url-pattern>/ConsultarCompraDolar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarVentaDolar</servlet-name>
        <url-pattern>/ConsultarVentaDolar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarSaldoColones</servlet-name>
        <url-pattern>/ConsultarSaldoColones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarPin</servlet-name>
        <url-pattern>/CambiarPin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarCliente</servlet-name>
        <url-pattern>/buscarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarCuenta</servlet-name>
        <url-pattern>/buscarCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarClientesAscendentes</servlet-name>
        <url-pattern>/listarClientesAscendentes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarCuentasDescendentes</servlet-name>
        <url-pattern>/listarCuentasDescendentes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarEstatusCuenta</servlet-name>
        <url-pattern>/ConsultarEstatusCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarSaldoDolares</servlet-name>
        <url-pattern>/ConsultarSaldoDolares</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarGananciasTotalesBanco</servlet-name>
        <url-pattern>/ConsultarGananciasTotalesBanco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarEstadoCuenta</servlet-name>
        <url-pattern>/ConsultarEstadoCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarEstadoCuentaDolares</servlet-name>
        <url-pattern>/ConsultarEstadoCuentaDolares</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarGananciasBancoCuenta</servlet-name>
        <url-pattern>/ConsultarGananciasBancoCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarPalabra</servlet-name>
        <url-pattern>/EnviarPalabra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetirarColones</servlet-name>
        <url-pattern>/RetirarColones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetirarDolares</servlet-name>
        <url-pattern>/RetirarDolares</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferirColones</servlet-name>
        <url-pattern>/TransferirColones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarPalabraColones</servlet-name>
        <url-pattern>/EnviarPalabraColones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarPalabraDolares</servlet-name>
        <url-pattern>/EnviarPalabraDolares</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarPalabraTransferencia</servlet-name>
        <url-pattern>/EnviarPalabraTransferencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesionAdmin</servlet-name>
        <url-pattern>/InicioSesionAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
