<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistroCliente</servlet-name>
        <servlet-class>SolicitudesWeb.RegistroCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarWeb</servlet-name>
        <servlet-class>SolicitudesWeb.IniciarWeb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroCuenta</servlet-name>
        <servlet-class>SolicitudesWeb.RegistroCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>SolicitudesWeb.RealizarDepositoColones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositarColones</servlet-name>
        <servlet-class>SolicitudesWeb.DepositarColones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositarDolares</servlet-name>
        <servlet-class>SolicitudesWeb.DepositarDolares</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroCliente</servlet-name>
        <url-pattern>/RegistroCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarWeb</servlet-name>
        <url-pattern>/IniciarWeb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroCuenta</servlet-name>
        <url-pattern>/RegistroCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositarColones</servlet-name>
        <url-pattern>/DepositarColones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositarDolares</servlet-name>
        <url-pattern>/DepositarDolares</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
